body{
    background: rgb(233, 230, 230);
}

.faq-header{
    color: #f5852a;
    font-family: "Changa One", sans-serif;
    font-weight: bolder;
    justify-items: center;
    font-size: 6vh;
    margin-top: 16vh;
}

.faq{
    width:80%;
    max-width:900px;
    margin:80px auto;
}

.faq-item{
    margin-top: 30px;
    margin-bottom:20px;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.faq-question{
    width:100%;
    padding:20px 25px;
    display:flex;
    justify-content:space-between;
    border:none;
    background:#fff3ca;
    font-size:1.2rem;
    font-weight:bold;
    cursor:pointer;
    color: #f5ae2a;
}

.faq-answer{
    max-height:0;
    overflow:hidden;
    background:white;
    transition:max-height .4s ease;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5852a;
}

.faq-answer p{
    padding:20px;
    line-height:1.7;
}